<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Filetool{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    {% block nav %}
    <header class="navbar">
        <h1>
            <a href="/">Filetool</a>
        </h1>
    </header>
    {% endblock %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% block footer %}
    <footer class="footer">
        <div class="container footer-content">
            <p>
                ©2026 Filetool. Made by
                <a href="https://www.sunkanmi.com">Sunkanmi</a>.
                All rights reserved.
            </p>
        </div>
    </footer>
    {% endblock %}

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>